[submodule "crates/agent_core/crates/cudarc"]
	path = crates/agent_core/crates/cudarc
	url = https://github.com/coreylowman/cudarc.git
[submodule "crates/agent_core/crates/mistral.rs"]
	path = crates/agent_core/crates/mistral.rs
	url = https://github.com/EricLBuehler/mistral.rs
