[submodule "external/cudarc"]
	path = external/cudarc
	url = https://github.com/coreylowman/cudarc.git
[submodule "external/mistral.rs"]
	path = external/mistral.rs
	url = https://github.com/EricLBuehler/mistral.rs
